@model RapChieuPhim.Models.Ve

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LichChieu.GioBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LichChieu.GioBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RapPhim.TenRapChieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RapPhim.TenRapChieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaVe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
